li
{
    font-size:20px;
	padding:5px;
	color:#745600;
}
h1
{
	font-size:35px;
	color:#005AFF;
}
body
{
	background-image:url(pic.jpg);
	background-position:center;
	background-size:cover;
}
.home
{position:relative;
float:right;
	border:1px solid orange;
	padding:4px;
}